{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by {{ author }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      {% for landmark in austin.landmarks %}
      <div class="col-sm-4">
          <img src="img/img-austin/landmarks/{{ landmark.image }}" alt="" class="card-img-top">
      </div>
      <div class="col-sm-8">
          <h1>{{ landmark.name }}</h1>
          <p>{{ landmark.description }}</p>
      </div>
      {% endfor %}
    </div>
  </article>
{% endblock %}

img/img-austin/landmarks/{{ landmark.image }}