{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/img-austin/landmarks/{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1><a href="{{ url }}">{{ name }}</a></h1>
          <h3>{{ location }} | {{ established }}</h3>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
