{% extends '_templates/base.njk' %}

{% block page_title %}Austin Activities{% endblock %}

{% block page_description %}Activities for all ages{% endblock %}

{% block content %}
<div class="container">
  <h1>Activities Around Town</h1>
  <p>Events and activities for all ages.</p>
  <hr>
  <div class="row">
  {% for activity in austin.activities %}
  <div class="col-sm-6 col-lg-4 mb-3 mb-sm-0">
    <div class="card text-bg-light mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ activity.activity }}</h5>
        <h6 class="card-captain">{{ activity.date_time }}</h6>
        <h6 class="card-text">{{ activity.address }}</h6>
        <a href="{{ activity.url }}" >Source</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}