{% extends '_templates/base.njk' %}

{% block page_title %}Visit Austin{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Explore the Heart of Texas - Welcome to Austin</h1>
  <p>Discover the unique blend of live music, eclectic culture, and outdoor adventures that define Austin, the capital city of Texas. Immerse yourself in the energy of the Live Music Capital of the World. From iconic festivals to picturesque parks, start your journey here and experience the heartbeat of Texas like never before. Welcome to Austin, where every visit is a chance to explore.</p>
  <h2>City Landmarks</h2>
  <p>Sightseeing and iconic landmarks throughout the city.</p>
  <div class="row">
    {% for landmark in austin.landmarks %}
      <div class="col-md-6 col-lg-3">
        <img src="img/img-austin/landmarks/{{ landmark.image }}" alt="" class="img-fluid">
        <h3><a href="landmarks/{{ landmark.slug }}.html">{{ landmark.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <h2>Local Restaurants</h2>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/img-austin/restaurants/franklin-bbq.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Franklin Barbecue</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/homeslice-pizza.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Home Slice Pizza</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/juan-in-a-million.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Juan in a Million</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/launderette.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Launderette</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/oseyo.jpg" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Oseyo</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/valentinas.jpg" class="d-block w-100 h-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Valentina's Tex Mex BBQ</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/peached-tortilla.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>The Peached Tortilla</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/patrizis.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Patrizi's</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/bufalina.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Bufalina</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/via313.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Via313</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/uchi.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Uchi</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/888.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>888 Pan Asian Restaurant</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/clarks.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Clark's Oyster Bar</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/jade-restaurant.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Jade Restaurant</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/uroko.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Uroko</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<hr>
<div class="container">
  <h2>City Activities</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      {% for activity in austin.activities %}
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ activity.activity }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>{{ activity.date_time }}</strong> | <a href="{{ activity.url }}" target="_blank">{{ activity.address }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}