{% extends '_templates/base.njk' %}

{% block page_title %}Visit Austin{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Main headline here</h1>
  <p>Intro text here.</p>
  <h2>Landmarks loop</h2>
  <p>This loops through data that came from a Google Sheets example.</p>
  <div class="row">
    {% for landmark in austin.landmarks %}
      <div class="col">
        <img src="../landmarks/{{ landmark.image }}" alt="" class="img-fluid">
        <h3><a href="{{ landmark.url }}">{{ landmark.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Acitivities loop</h2>
  <p>This loops through data that came from a Google Sheets example.</p>
  <hr>
  {% for activity in austin.activities %}
    <h3>{{ activity.activity_name }}</h3>
    <p>{{ activity.date_time }}</p>
    <p><a href="{{ activity.url }}" target="_blank">{{ activity.address }}</a></p>
    <hr>
  {% endfor %}
</div>
{% endblock %}