{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}Eat Austin{% endblock %}

{% block page_description %}Page description{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../restaurants/{{ restaurant.image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{  }}</h1>
          <p>{{ }}</p>
      </div>
    </div>
  </article>
{% endblock %}
