{% extends '_templates/base.njk' %}

{% block page_title %}Eat Austin{% endblock %}

{% block page_description %}Austin Restaurants{% endblock %}

{% block content %}
<div class="container">
  <h1>Eat Austin</h1>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/img-austin/restaurants/franklin-bbq.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Franklin Barbecue</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/homeslice-pizza.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Home Slice Pizza</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/juan-in-a-million.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Juan in a Million</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/launderette.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Launderette</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/oseyo.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Oseyo</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/valentinas.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Valentina's Tex Mex BBQ</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/peached-tortilla.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>The Peached Tortilla</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/patrizis.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Patrizi's</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/bufalina.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Bufalina</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/via313.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Via313</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/uchi.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Uchi</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/888.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>888 Pan Asian Restaurant</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/clarks.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Clark's Oyster Bar</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/jade-restaurant.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Jade Restaurant</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/img-austin/restaurants/uroko.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Uroko</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<hr>
<div class="container">
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Learn more</button>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h4 id="offcanvasRightLabel">Eat Austin</h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {% for restaurant in restaurants.restaurants %}
    <h5>{{ restaurant.name }}</h5>
    <h6>{{ restaurant.category }} | {{ restaurant.address }}</h6>
    {% endfor %}
  </div>
  </div>

{% endblock %}
